<script type="module" src="@Assets["Components/Layout/ReconnectModal.razor.js"]"></script>

<dialog id="components-reconnect-modal" data-nosnippet>
	<div class="components-reconnect-container">
		<div class="components-rejoining-animation" aria-hidden="true">
			<div></div>
			<div></div>
		</div>
		<p class="components-reconnect-first-attempt-visible">
			@LayoutStrings.Reconnect_Rejoining
		</p>
		<p class="components-reconnect-repeated-attempt-visible">
			@LayoutStrings.Reconnect_RejoinFailed <span id="components-seconds-to-next-attempt"></span> @LayoutStrings.Reconnect_Seconds
		</p>
		<p class="components-reconnect-failed-visible">
			@LayoutStrings.Reconnect_Failed<br />@LayoutStrings.Reconnect_RetryOrReload
		</p>
		<button id="components-reconnect-button" class="components-reconnect-failed-visible">
			@Strings.Retry
		</button>
		<p class="components-pause-visible">
			@LayoutStrings.Reconnect_Paused
		</p>
		<button id="components-resume-button" class="components-pause-visible">
			@Strings.Resume
		</button>
		<p class="components-resume-failed-visible">
			@LayoutStrings.Reconnect_ResumeFailed<br />@LayoutStrings.Reconnect_PleaseReload
		</p>
	</div>
</dialog>
